@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=NTR&display=swap');
$colors: (
    primary:#C6F4F4,
    button: #D33F49,
    buttonLight: lighten(#D33F49, 5%),
    black: #393E41,
);

@function color($colorName){
    @return map-get($colors,$colorName)
};
@mixin tooSmall{
        @media only screen and (max-width:270px){
            @content;
        }
        @media only screen and (max-height:355px){
            @content;
        }
}
@mixin fullDesktop{
    @media only screen and(min-width:1920px){
        @content;
    }
}
@mixin qDesktop{
    @media only screen and(min-width:2560px){
        @content;
    }
}
@mixin desktop{
    @media only screen and(min-width:1024px){
        @content;
    }
}
@mixin tablet {
    
    @media only screen and (min-width:350px)  {
        @content;
    }
}
$widthCard: 100%;
$marginTB: .31em;
$marginBtn: .63em;
$radius: 1.2em;

html, body{
    width: 100%;
    height: 100%;
};
body{
    margin: 0;
    background-color: color(primary);
    transition: all .5s;
    position: relative;
    .z-text {
        transform: rotateX(-15deg);
        transition: transform 1s;
    }
    textarea:focus, input:focus{
        outline: none;
    }
    #tooSmall{

        display: none;
        width: 150px;
        padding: $marginBtn 0;
        text-align: center;
        background-color: white;
        font-family: 'NTR', sans-serif;
        border-radius: 1em;
        position: absolute;
        top: 44.7%;
        left: 50%;
        color: rgba($color: #000000, $alpha: 0.4);
        transform: translate(-50%,-50%);
        text-transform: uppercase;
        font-weight: bold;
        cursor: default;
        z-index: -1;

        @include tooSmall(){
            display: block;
        }
    }
    div#card{
        text-align: center;
        background-color: white;
        width: $widthCard;
        position: absolute;
        top: 44.7%;
        left: 50%;
        transform: translate(-50%,-50%);
        box-shadow: 0px 0px 10px rgba($color: #000000, $alpha: .2);
        animation-name: fadeIn;
        animation-duration: 3s;
        display: block;
        @include tooSmall(){
            display: none;
        }
        @include tablet(){
            width: 350px;
        }
        @include desktop(){
            transform: translate(-50%,-50%) scale(1.5);
        }
        @include fullDesktop(){
            transform: translate(-50%,-50%) scale(2);
        }
        @include qDesktop(){
            transform: translate(-50%,-50%) scale(2.5);
        }
        @keyframes fadeIn {
            from{
                opacity: 0;
            }
            to{
                opacity: 1;
            }
        }
        #logo{
            text-transform: uppercase;
            font-family: 'Nunito', sans-serif;
            margin: $marginTB;
            font-size: 2.25rem;
            cursor: default;
            @include tablet(){
                margin-bottom: 1em;
            }
        }
        table{
            display: inline-block;
            margin: $marginTB 0;
            font-size: .63rem;
            color: color(black);
            font-family: 'NTR', sans-serif;
            cursor: default;
            @include tablet(){
                margin-bottom: 1em;
            }

            tr td:hover{
                background-color: rgb(245, 245, 245);
                border-radius: .3em;
                cursor: pointer;
            }
        }
        

            #colorF{
                display: block;
                width: 60%;
                margin: $marginTB 20%;
                font-size: .88rem;
                text-align: center;
                font-family: 'NTR', sans-serif;
                border: .1em solid color(black);
                border-radius: $radius;
                @include tablet(){
                    margin-bottom: 1em;
                }
            }
              #colorsS.active {
                cursor: grabbing;
                cursor: -webkit-grabbing;
                transform: scale(1);
              }
            #colorsS{
                text-decoration: none;
                list-style: none;
                display: block;
                overflow-y: hidden;
                overflow-x: scroll;
                white-space: nowrap;
                font-family: 'NTR', sans-serif;
                will-change: transform;
                user-select: none;
                position: relative;
                transition: all 0.2s;
                transform: scale(0.98);
                padding: 0;
                margin: 1em 1.5em;
                color: color(black);

                li{
                    display: inline-block;   
                    cursor: pointer;  
                    transition: all .2s;
                }
                li:hover{
                    transform: scale(1.03);
                }
                li:not(:last-child){
                    margin-right: 1em;
                }
            }
            #colorsS::-webkit-scrollbar{
                display: none;
            }
            #colorBtn{
                border-radius: $radius;
                border: none;
                background-color: color(button);
                cursor: pointer;
                margin: $marginTB 0;
                transition: background-color .2s;
                @include tablet(){
                    margin-bottom: 1em;
                }
                
                span{
                    color: white;
                    font-size: .88rem;
                    margin: 0 $marginBtn * 2;
                    font-family: 'NTR', sans-serif;
                }
            }

            #colorBtn:hover{
                background-color: color(buttonLight);
            }
        
    }
    footer{
        background-color: color(black);
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;

        #gitHub{
            fill: white;
            margin: .5em;
            
            @include desktop(){
                width: 40px;
                height: auto;
                margin: .7em;
            }
            @include fullDesktop(){
                width: 50px;
                height: auto;
                margin: .9em;
            }
            @include qDesktop(){
                width: 70px;
                height: auto;
            }
        }
    }
};