@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=NTR&display=swap");
html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: #C6F4F4;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative;
}

body .z-text {
  -webkit-transform: rotateX(-15deg);
          transform: rotateX(-15deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

body textarea:focus, body input:focus {
  outline: none;
}

body #tooSmall {
  display: none;
  width: 150px;
  padding: 0.63em 0;
  text-align: center;
  background-color: white;
  font-family: 'NTR', sans-serif;
  border-radius: 1em;
  position: absolute;
  top: 44.7%;
  left: 50%;
  color: rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: bold;
  cursor: default;
  z-index: -1;
}

@media only screen and (max-width: 270px) {
  body #tooSmall {
    display: block;
  }
}

@media only screen and (max-height: 355px) {
  body #tooSmall {
    display: block;
  }
}

body #copy {
  background-color: #393E41;
  position: fixed;
  top: 85%;
  left: 50%;
  font-size: 1rem;
  margin: 0 auto;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: .4em 1em;
  color: white;
  border-radius: .9em;
  font-family: 'NTR', sans-serif;
  cursor: default;
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes slideUp {
  0% {
    top: 100%;
  }
  50% {
    top: 85%;
    opacity: 1;
  }
  100% {
    top: 85%;
    opacity: 0;
  }
}

@keyframes slideUp {
  0% {
    top: 100%;
  }
  50% {
    top: 85%;
    opacity: 1;
  }
  100% {
    top: 85%;
    opacity: 0;
  }
}

body div#card {
  text-align: center;
  background-color: white;
  width: 100%;
  position: absolute;
  top: 44.7%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  display: block;
}

@media only screen and (max-width: 270px) {
  body div#card {
    display: none;
  }
}

@media only screen and (max-height: 355px) {
  body div#card {
    display: none;
  }
}

@media only screen and (min-width: 350px) {
  body div#card {
    width: 350px;
    border-radius: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  body div#card {
    -webkit-transform: translate(-50%, -50%) scale(1.5);
            transform: translate(-50%, -50%) scale(1.5);
  }
}

@media only screen and (min-width: 1920px) {
  body div#card {
    -webkit-transform: translate(-50%, -50%) scale(2);
            transform: translate(-50%, -50%) scale(2);
  }
}

@media only screen and (min-width: 2560px) {
  body div#card {
    -webkit-transform: translate(-50%, -50%) scale(2.5);
            transform: translate(-50%, -50%) scale(2.5);
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body div#card #logo {
  text-transform: uppercase;
  font-family: 'Nunito', sans-serif;
  margin: 0.31em;
  font-size: 2.25rem;
  cursor: default;
}

@media only screen and (min-width: 350px) {
  body div#card #logo {
    margin-bottom: 1em;
  }
}

body div#card table {
  display: inline-block;
  margin: 0.31em 0;
  font-size: .63rem;
  color: #393E41;
  font-family: 'NTR', sans-serif;
  cursor: default;
}

@media only screen and (min-width: 350px) {
  body div#card table {
    margin-bottom: 1em;
  }
}

body div#card table tr td {
  padding: 0 .5em;
}

body div#card table tr td:hover {
  background-color: whitesmoke;
  border-radius: .3em;
  cursor: pointer;
}

body div#card #colorF {
  display: block;
  width: 60%;
  margin: 0.31em 20%;
  font-size: .88rem;
  text-align: center;
  font-family: 'NTR', sans-serif;
  border: 0.1em solid #393E41;
  border-radius: 1.2em;
}

@media only screen and (min-width: 350px) {
  body div#card #colorF {
    margin-bottom: 1em;
  }
}

body div#card #colorsS.active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
  -webkit-transform: scale(1);
          transform: scale(1);
}

body div#card #colorsS {
  text-decoration: none;
  list-style: none;
  display: block;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  font-family: 'NTR', sans-serif;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  padding: 0;
  margin: 1em 1.5em;
  color: #393E41;
}

body div#card #colorsS li {
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

body div#card #colorsS li:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

body div#card #colorsS li:not(:last-child) {
  margin-right: 1em;
}

body div#card #colorsS::-webkit-scrollbar {
  display: none;
}

body div#card #colorBtn {
  border-radius: 1.2em;
  border: none;
  background-color: #D33F49;
  cursor: pointer;
  margin: 0.31em 0;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

@media only screen and (min-width: 350px) {
  body div#card #colorBtn {
    margin-bottom: 1em;
  }
}

body div#card #colorBtn span {
  color: white;
  font-size: .88rem;
  margin: 0 1.26em;
  font-family: 'NTR', sans-serif;
}

body div#card #colorBtn:hover {
  background-color: #d8545d;
}

body footer {
  background-color: #393E41;
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
}

body footer #gitHub {
  fill: white;
  margin: .5em;
}

@media only screen and (min-width: 1024px) {
  body footer #gitHub {
    width: 40px;
    height: auto;
    margin: .7em;
  }
}

@media only screen and (min-width: 1920px) {
  body footer #gitHub {
    width: 50px;
    height: auto;
    margin: .9em;
  }
}

@media only screen and (min-width: 2560px) {
  body footer #gitHub {
    width: 70px;
    height: auto;
  }
}
/*# sourceMappingURL=main.css.map */